body {
    background-color: #faf8ef;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.grid-container {
    background-color: #bbada0;
    width: 400px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.tile {
    background-color: #cdc1b4;
    border-radius: 5px;
    font-size: 40px;
    font-weight: bold;
    color: #776e65;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-2 {background-color: #eee4da; }
.tile-4 {background-color: #ede0c8; }
.tile-8 {background-color: #f2b179; color: white; }
.tile-16 {background-color: #f59563; color: #f9f6f2;}
.tile-32 {background-color: #f67c5f; color: #f9f6f2;}
.tile-64 {background-color: #f65e3b; color: #f9f6f2;}
.tile-128 {background-color: #edcf72; color: #f9f6f2; box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.23815);}
.tile-256 {background-color: #edcc61; color: #f9f6f2; box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746);}
.tile-512 {background-color: #edc850; color: #f9f6f2; box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683);}
.tile-1024 {background-color: #edc53f; color: #f9f6f2; box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619);}
.tile-2048 {background-color: #edcc61; color: #f9f6f2; box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556);}

.tile-128, .tile-256, .tile-512 {
    font-size: 36px;
}

.tile-1024, .tile-2048, .tile-4096, .tile-8192 {
    font-size: 32px;
}